.sameHeight {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.avartarImg {
    padding: 0 12px 0 12px;
    box-shadow: 0 4px 8px rgba(0, 23, 0, 0.1);
}

.wrap-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatarImg img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 200px;
}

.social i {
  padding: 2px;
  color: rgb(68, 68, 68);
}

.mt {
  margin-top: 20px;
}

.pt {
  padding-top: 15px;
}

h5 {
  font-size: 30px;
  padding-bottom: 10px;
}

h6 span {
  float: right;
  font-size: 14px;
}

@media only screen and (max-width: 992px){
  .social i {
    padding: 2px;
    color: #fff;
  }
  
}