.testimonials {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .centered-heading {
    margin-bottom: 20px;
  }
  
  .testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial-card {
    background-color: rgb(250, 250, 250);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    max-width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-text {
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-weight: bold;
  }
  
  .star-icon {
    color: #f8d64e; /* Star color */
    margin-right: 2px;
  }
  
  .rating {
    margin-top: 10px;
  }